/* Sticky footer styles
-------------------------------------------------- */

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container-fluid  {
    padding: 0px 0px 0px 0px;
    margin-top:5px; 
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
